@model BookTradesProject.Models.Trocas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Trocas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LivroDado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LivroDado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LivroRecebido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LivroRecebido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vendedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vendedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comprador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comprador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
