@model IEnumerable<DevWeb_23774_25961.Models.Trocas>

@{
    ViewData["Title"] = "As minhas trocas";
}

<h1 class="mb-4">As minhas trocas</h1>

@if (!Model.Any())
{
    <p>Ainda não possui livros disponibilizados para troca.</p>
}
else
{
    <div class="table-responsive">
        <table class="table table-hover table-bordered align-middle">
            <thead class="table-light">
            <tr>
                <th style="width: 100px;">Capa</th>
                <th>Título</th>
                <th>Estado</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var troca in Model)
            {
                <tr style="cursor: pointer;" onclick="location.href='@Url.Action("Details", "Trocas", new { id = troca.Id })'">
                    <td>
                        <img src="@troca.LivroDado?.Capa" alt="Capa" class="img-fluid rounded" style="height: 80px; object-fit: cover;" />
                    </td>
                    <td>@troca.LivroDado?.Titulo</td>
                    <td>
                        @if (@troca.Estado == Trocas.EstadoTroca.Pendente)
                        {
                            <text>Proposta recebida!</text>
                        }
                        else
                        {
                            @troca.Estado
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
