@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DevWeb_23774_25961.Models.Livros

@{
    ViewData["Title"] = "Detalhes do Livro";
}

<h1 class="mb-4">Detalhes do livro</h1>

<div class="container" style="margin-top: 50px;">
    
    <div class="row mb-4">
        <div class="col-md-4 text-center">
            <img src="@Model.Capa" alt="Capa do livro" class="img-fluid rounded shadow-sm" style="max-height: 300px; object-fit: contain;" />
        </div>
        <div class="col-md-8">
            <h2 class="fw-bold">@Model.Titulo</h2>
            <p><strong>Autor:</strong> @Model.Autor</p>
            <p><strong>ISBN:</strong> @Model.ISBN</p>
            <p><strong>Sinopse:</strong><br />@Model.Sinopse</p>
        </div>
    </div>

    <div class="d-flex justify-content-end">
        @if (Model.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier))
        {
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success me-2">Editar</a>
            <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-danger me-2">Eliminar</a>
        }
        <a onclick="window.history.back()" class="btn btn-outline-primary">Voltar</a>
    </div>

</div>