@model List<DevWeb_23774_25961.Models.Trocas>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <section>
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="promo1.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="promo2.png" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </section>
    <section class="book-listings">
        <div>
            <h1 class="index-h1">Livros disponíveis para troca: </h1>
            <div class="container">
                <div class="row">
                    @foreach (var troca in Model)
                    {
                        <div class="col-md-4 mb-4">
                            <div class="card shadow-sm h-100">
                                <div class="row g-0" style="min-height: 100%">
                                    <div class="col-4">
                                        <img src="@troca.LivroDado?.Capa" alt="Book cover" class="img-fluid rounded-start" style="height: 100%; object-fit: cover;"/>
                                    </div>
                                    <div class="col-8">
                                        <div class="card-body index-card-body">
                                            <h5 class="card-title index-card-title">@troca.LivroDado?.Titulo</h5>
                                            <p class="card-text"><strong>Author:</strong> @troca.LivroDado?.Autor</p>
                                            <p class="card-text"><strong>Offered by:</strong> @troca.Vendedor?.UserName</p>
                                            @if (@troca.Vendedor?.UserName != @User.Identity?.Name)
                                            {
                                                <a asp-controller="Trocas" asp-action="TradeProposal" asp-route-id="@troca.Id" class="btn btn-primary">Propor troca</a>    
                                            }
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>